{% extends "base.html" %}

{% load static %}
{% block scripts %}{% endblock scripts %}

{% block content %}
<br />
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>


<!--drumcoder.co.uk/blog/2011/aug/23/jquery-gallery-lightbox/-->
<div class="container">
  <h2>Gallery</h2>
  <div class="row">
    {% for image in Images %}
    <div class="col-md-2">
       <div id="photos">
          <a href="{{image.photo.url_800x600}}" title="{{image.display_date}} - {{image.name}}" class="visible">
            <img src="{{image.photo.url_150x150}}" class="{{image.tags}}"/>
          </a><br />

            <small class="text-muted">{{image.name}}</small>

          <br /> <br />
       </div>
    </div>
    {% endfor %}
  </div>
</div>


<p><b>Tags </b> <span> </span> </p>
{% for tagname, tagcount in Tags.items %}
    <span class="taglink" id="tag_{{tagname}}">
      <span class="tagname">, {{tagname}}</span>
      <span class="tagcount"> ({{tagcount}} {% if tagcount > 1 %}imagens {%else %} imagem {% endif %})</span>
    </span>
{% endfor %}










{% endblock content %}