{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

   <title>{% block title %}Django Gallery - lightbox{% endblock %}</title>
   
   <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" media="screen" />

    <link rel="stylesheet" href="{% static 'css/jquery.lightbox-0.5.css' %}" media="screen" />
    
    <link rel="stylesheet" href="{% static 'css/jumbotron.css' %}" media="screen" />
    
  </head>

<body>
{% include 'navbar.html' %}

 <main role="main">

    <div class="container">
        <div class="row">
        
            {% block content %}{% endblock %}
        
        </div>
    </div>
 </main>
 
<footer class="container">
  <p>&copy; Company 2017-2018</p>
</footer>
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')</script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'js/holder.min.js' %}"></script>
    <script src="{% static 'js/jquery.lightbox-0.5.min.js' %}"></script>
	{% block scripts %}{% endblock scripts %}


<script type="text/javascript">	

 function hideAll(){
   $('.photoLi').hide();
   $('.photoLi a').removeClass('visible');
   $('.taglink').addClass('tag-disabled');
   $('.tagLi').addClass('tag-disabled');
 }
  
  $('.taglink').click(function(){
    var lTagName = $(this).attr('id').substring("tag_".length);
    if (lTagName === 'showall')
    {
      hideAll();
      $('.photoLi').show("slow");
      $('.photoLi a').addClass('visible');
      $(this).removeClass('tag-disabled');
      $(this).parent('li').removeClass('tag-disabled');
    }
    else
    {
    if ($(this).hasClass('tag-disabled')){
      hideAll();
      $("." + lTagName).parent().parent().show("slow");
      $("." + lTagName).parent().addClass('visible');
      $(this).removeClass('tag-disabled');
      $(this).parent('li').removeClass('tag-disabled');
    }
    }
    $('#photos a.visible').lightBox();
  });
  
   $('.taglink:first').click();

</script>

</body>
</html>